{% extends "base.html" %}
{% block content  %}
    <h1>Últimas postagens</h1>

    <form method="POST" action="/blog/pesquisar">
        <div class="input-group mb-3">
            <input type="text" name="pesquisa" class="form-control" placeholder="Pesquisar" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-info" type="submit">Pesquisa</button>
            </div>
        </div>
        <hr>
    </form>

    {% if posts %}
        {% for p in posts %}
                <a href="/blog/{{ p.id }}">
                    <h1>{{ p.titulo }}</h1>
                </a>
                <img src="{{ p.miniatura }}"/>
                {{ p.conteudo }}
                {{ p.autor }}
        {% endfor %}
    {% else %}
        <p class="h4 text-warning font-style-bold">Não foi encontrado nada!</p>
    {% endif %}

{% endblock %}